main{
  padding: 0px 30px;
}


#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* header */



.bloc-page {
    position: relative;
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
  }
  
  #contact_modal {
    display: none;
    z-index: 1;
  }
  
  .header-page {
    margin: 2rem 0;
  }
  
  .logo {
    height: 50px;
  }
  
  .photograph-header article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    height: 300px;
    width: 1350px;
  }
  
  .photograph-header-infos {
   padding: 1rem;
  }
  
  .photograph-header-infos h1 {
    color: #d3573c;
    font-family: "DM Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 83px;
    margin: 0;
    text-align: left;
  }
  
  .photograph-header-infos p {
    margin: 1rem 0;
  }
  
  .photograph-header-infos p.location {
    color: #901c1c;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 31px;
    margin: 0.5rem 0;
    text-align: left;
  }
  
  .photograph-header-infos p.tagline {
    color: #525252;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    margin: 0.5rem 0;
    text-align: left;
  }
  
  .contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .photograph-header-portrait img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 25rem;
  }

  /* media */
  .photograph-media {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    
  }
  
  .photograph-medium {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .medium-container img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  
  .medium-container video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
  
  .infos-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .infos-container h3 {
    color: #901c1c;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  
  .likes {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #901c1c;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
  }




  .order-by {
    display: flex;
    flex-direction: row;
    
  }
  .order-by_label {
    font-weight: bold;
    font-size: 1.7rem;
    margin-right: 2rem;
    margin-left: 20px;
  }
  .order-by_select {
    background: #901C1C;
    color: white;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  .order-by_select option {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  .order-by_option {
    font-size: 1.5rem;
    font-weight: bold;
  }






  .photographer-counter {
    align-items: center;
    background: #DB8876;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    bottom: 0;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    right: 100px;
    width: 320px;
    z-index: 99;
  }
  .photographer-counter_likes{
    display: flex;
  }
  .photographer-counter_likes i {
    margin-left: 10px;
    margin-top: 31px;
  }
  @media (max-width: 991.98px) {
    .photographer-counter {
      display: none;
    }
  }