@import url("photographer.css");

a {
    text-decoration: none;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.bloc-page {
    max-width: 1440px;
    margin: auto;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-between;
    margin: 2rem 3rem;
}

h1 {
    color: #901C1C;
    margin-right: 5rem;
}

h2 {
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.logo {
    height: 50px;
}

.photographer_section {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.photographer_section article {
    align-items: center;
    display:flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding: 1rem;
    width: 25rem;
}

.photographer_section article a {
    display:block;
}

.photographer_section article .photographer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 20rem;
    object-fit: cover;
}
.photographer_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section article h2 {
    color: #D3573C;    
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}

.photographer_section article p {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.location {
    color: #901C1C;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5px;
}

.tagline{
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5px;
}

.price {
    font-family: "DM Sans", sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}